<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>金融远期合约交易服务-后台管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <link rel="icon" href="images/logo/logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/logo/logo.png" type="image/x-icon"/>
    <meta name="robots" content="index,follow"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>

<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="logo">
                    <h1><a href="index.html">金融远期合约交易服务后台管理</a></h1>
                </div>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/adminlogout">安全退出</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <li><a href="/adminpage"><i class="glyphicon glyphicon-calendar"></i>需求信息在线监控</a></li>
                    <li><a href="/admintopic"><i class="glyphicon glyphicon-calendar"></i>话题信息在线监控</a></li>
                    <li><a href="/admincomments"><i class="glyphicon glyphicon-calendar"></i>评论信息在线监控</a></li>
                    <li><a href="/adminusers"><i class="glyphicon glyphicon-calendar"></i>用户列表</a></li>
                    <li><a href="/adminerlist"><i class="glyphicon glyphicon-list"></i> 管理员列表</a></li>
                    <li class="current"><a href="/admineradd"><i class="glyphicon glyphicon-plus-sign"></i> 添加管理员</a></li>
                    <li><a href="/adminerdelete"><i class="glyphicon glyphicon-remove-sign"></i>删除管理员</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">

            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title"><p>添加管理员</p></div>
                </div>
                <div style="margin-top: 38px;">
                    <form th:action="@{/adminadd}" th:object="${admin}" th:method="post">
                        <div class="form-group">
                            <label>登录账号</label>
                            <input type="text" name="acount" class="form-control" th:field="*{adminName}"/>
                        </div>
                        <div class="form-group">
                            <label>登录密码</label>
                            <input type="text" name="username" class="form-control" th:field="*{password}"/>
                        </div>
                        <div class="form-group">
                            <label>真实姓名</label>
                            <input type="text" name="phone" class="form-control" th:field="*{realName}"/>
                        </div>
                        <div class="form-group">
                            <label>联系电话</label>
                            <input type="text" name="location" class="form-control" th:field="*{phone}"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="copy text-center">
            <p>Copyright &copy; 2018.交易服务 All rights reserved.</p>
            <p>作者：140104300123 陈璐</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>