<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8"/>
    <title>金融远期合约交易服务平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="金融远期合约交易服务平台"/>
    <meta name="author" content="chenlu"/>
    <link rel="shortcut icon" href="images/ico/favicon.ico"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/buttons.css"/>

</head>
<body>

<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- 网站名 -->
        <a class="navbar-brand" href="#">金融远期合约交易服务平台</a>
        <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="index.html">首页</a>
                </li>

                <li>
                    <a href="news.html">新闻资讯</a>
                </li>
                <li>
                    <a href="demand.html">需求社区</a>
                </li>
                <li>
                    <a href="topic.html">话题中心</a>
                </li>
                <li>
                    <a href="contact.html">合约展示</a>
                </li>
                <li th:if="${user == null}">
                    <a href="login.html"><span>登录</span></a>
                </li>
                <li th:if="!${user == null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">欢迎！<span th:text="${user.name}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mycontact">我的合约</a></li>
                        <li><a href="/mydemand">我的需求</a></li>
                        <li><a href="/mytopic">我的话题</a></li>
                        <li><a href="/logout">安全退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="carousel-section" class="section-global-wrapper">
    <div class="container-fluid-kamn">
        <div class="row">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators visible-lg">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/slider/sliderm1.jpg" height="400" alt="Image of first carousel"/>
                        <div class="carousel-caption">
                            <a href="#" class="button button-glow button-border button-rounded button-primary carousel-title hidden-xs">Top10 大价值期货</a>
                            <p class="carousel-body">精选 精挑</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider/sliderm2.jpg" height="400" alt="Image of third carousel"/>
                        <div class="carousel-caption">
                            <a href="#" class="button button-glow button-border button-rounded button-primary carousel-title hidden-xs">大事件</a>
                            <p class="carousel-body">每天十分钟，陪你一起读新闻</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="images/slider/sliderm3.jpg" height="400" alt="Image of second carousel"/>
                        <div class="carousel-caption">
                            <a href="#" class="button button-glow button-border button-rounded button-primary carousel-title hidden-xs">智能匹配</a>
                            <p class="carousel-body">快速定位你可能喜欢的</p>
                        </div>
                    </div>

                </div>

                <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-1" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="main" style="padding-top: 30px;">
    <div class="container">
        <dl class="main-data">
            <dt>
                <span class="glyphicon glyphicon-home" aria-hidden="true" style="float: left;margin: 4px 12px 4px auto;"></span>
                <h3>数据统计</h3>
            </dt>
            <span>累计交易额：<span class="text-danger" style="font-size: 24px" th:text="${contactAmountSum}"></span> 元</span>
            <span style="margin-left: 360px;">已生成合约量：<span class="text-danger" style="font-size: 24px" th:text="${contactCount}"></span> 份</span>
            <span style="float: right;margin-right: 0;">累计注册人数：<span class="text-danger" style="font-size: 24px" th:text="${userCount}"></span> 人</span>
            <hr />
        </dl>
    </div>
</section>

<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <h3 class="services-header-title">金融合约精选</h3>
                <p class="services-header-body"><em>精挑 ·细选</em></p>
            </div>
        </div>

        <div class="row services-row services-row-head services-row-1">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" th:each="contact, contactStat : ${contacts}">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <h4 class="services-title"><span th:text="${contact.dealObject}"></span>-远期合约</h4>
                    <div class="col-md-6">
                        <p class="services-body">买方：<span th:text="${contact.buyername}"></span></p>
                    </div>
                    <div class="col-md-6">
                        <p class="services-body">卖方：<span th:text="${contact.sellername}"></span></p>
                    </div>
                    <p style="text-align: left; padding-left: 30px;">合约标的：<span th:text="${contact.dealObject}"></span></p>
                    <p style="text-align: left; padding-left: 30px;">交易数量：<span th:text="${contact.dealNum}"></span></p>
                    <p style="text-align: left; padding-left: 30px;">交易总价：<span th:text="${contact.dealprice}"></span></p>
                    <p style="text-align: left; padding-left: 30px;">交易时间：<span class="dealtime" th:attr="data-dealtime=''+${contact.dealTime}"></span></p>
                    <p style="text-align: left; padding-left: 30px;">附加条款：<span th:text="${contact.desc}"></span></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <h4 class="services-title">合约名称</h4>
                    <div class="col-md-6">
                        <p class="services-body">买方：</p>
                    </div>
                    <div class="col-md-6">
                        <p class="services-body">卖方：</p>
                    </div>
                    <p style="text-align: left; padding-left: 30px;">合约标的：</p>
                    <p style="text-align: left; padding-left: 30px;">交易数量：</p>
                    <p style="text-align: left; padding-left: 30px;">交易总价：</p>
                    <p style="text-align: left; padding-left: 30px;">交易时间：</p>
                    <p style="text-align: left; padding-left: 30px;">附加条款：</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <h4 class="services-title">合约名称</h4>
                    <div class="col-md-6">
                        <p class="services-body">买方：</p>
                    </div>
                    <div class="col-md-6">
                        <p class="services-body">卖方：</p>
                    </div>
                    <p style="text-align: left; padding-left: 30px;">合约标的：</p>
                    <p style="text-align: left; padding-left: 30px;">交易数量：</p>
                    <p style="text-align: left; padding-left: 30px;">交易总价：</p>
                    <p style="text-align: left; padding-left: 30px;">交易时间：</p>
                    <p style="text-align: left; padding-left: 30px;">附加条款：</p>
                </div>
            </div>
        </div>

        <div class="row services-row services-row-tail services-row-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                    <h4 class="services-title">合约名称</h4>
                    <div class="col-md-6">
                        <p class="services-body">买方：</p>
                    </div>
                    <div class="col-md-6">
                        <p class="services-body">卖方：</p>
                    </div>
                    <p style="text-align: left; padding-left: 30px;">合约标的：</p>
                    <p style="text-align: left; padding-left: 30px;">交易数量：</p>
                    <p style="text-align: left; padding-left: 30px;">交易总价：</p>
                    <p style="text-align: left; padding-left: 30px;">交易时间：</p>
                    <p style="text-align: left; padding-left: 30px;">附加条款：</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated zoomIn" data-wow-offset="40">
                    <h4 class="services-title">合约名称</h4>
                    <div class="col-md-6">
                        <p class="services-body">买方：</p>
                    </div>
                    <div class="col-md-6">
                        <p class="services-body">卖方：</p>
                    </div>
                    <p style="text-align: left; padding-left: 30px;">合约标的：</p>
                    <p style="text-align: left; padding-left: 30px;">交易数量：</p>
                    <p style="text-align: left; padding-left: 30px;">交易总价：</p>
                    <p style="text-align: left; padding-left: 30px;">交易时间：</p>
                    <p style="text-align: left; padding-left: 30px;">合约条款：</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                    <h4 class="services-title">合约名称</h4>
                    <div class="col-md-6">
                        <p class="services-body">买方：</p>
                    </div>
                    <div class="col-md-6">
                        <p class="services-body">卖方：</p>
                    </div>
                    <p style="text-align: left; padding-left: 30px;">合约标的：</p>
                    <p style="text-align: left; padding-left: 30px;">交易数量：</p>
                    <p style="text-align: left; padding-left: 30px;">交易总价：</p>
                    <p style="text-align: left; padding-left: 30px;">交易时间：</p>
                    <p style="text-align: left; padding-left: 30px;">附加条款：</p>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="blog-post">
                <h3 class="blog-title">
                    <i class="fa fa-file-text"></i>
                    外媒:巴基斯坦向中国借款防外汇危机
                </h3>
                <br/>
                <img src="images/slider/news1.0.jpg" alt="Feature-img" align="right" width="100%" class="blog-image"/>
                <br/>
                <p>
                    原标题：外媒:巴基斯坦向中国借款防外汇危机 意在不必寻求IMF帮助
                    参考消息网5月25日报道 外媒称，中国借给巴基斯坦10亿美元，以帮助巴基斯坦避免外汇危机。<br/>

                    据《印度时报》网站5月23日报道，巴基斯坦国家银行行长塔里克·巴杰瓦在接受英国《金融时报》记者采访时证实，北京支持的银行4月以很优惠的利率向巴基斯坦提供了一笔贷款。

                    《金融时报》援引巴杰瓦的话说，“这笔钱加强了两国间的经济、政治和军事联系”。<br/>

                    巴杰瓦说：“中国的商业银行资金流动性很强。”<br/>

                    巴基斯坦外汇储备从去年4月的181亿美元降至今年5月的108亿美元。<br/>

                    据该报报道，巴基斯坦官员还希望，通过从中国的银行贷款能让该国不必寻求国际货币基金组织（IMF）的帮助。<br/>

                    报道称，自1988年12月以来，巴基斯坦与IMF签署了9个贷款项目——其中三个是重复性项目。这意味着过去28年巴
                    基斯坦共实施了12个IMF贷款项目。其中只有4个——都是2000年以后开始的——项目成功完成，所有其他项目都在上世纪90年代半途而废了。<br/>

                    报道称，贷款给巴基斯坦对中国也是有利的。《金融时报》援引巴基斯坦官员的话说，这笔贷款是中国-巴基斯坦经济走廊项目的一部分，
                    中国不希望透露贷款的具体细节。中国在巴基斯坦的基础设施建设方面投资了近600亿美元。<br/>

                    据《金融时报》报道，在上个月10亿美元的贷款之前，自2017年4月以来，巴基斯坦已从中国的银行贷款近12亿美元，今后可能还会借更多。
                </p>
                <div>
                    <span class="badge">Posted 2018-04-02</span>
                    <span class="badge">文章来源：新浪新闻</span>

                </div>
            </div>
            <hr/>

            <div class="blog-post">
                <h3 class="blog-title">
                    <i class="fa fa-file"></i>
                    商品期货涨跌互现 能化下挫甲醇盘中直线跳水跌近2%
                </h3>
                <img src="images/slider/news3.0.png" alt="Feature-img" align="right" width="100%" class="blog-image"/>
                <br/>
                <p>
                    5月25日，午后商品期货持续早盘行情，涨跌互现。能化板块下挫， 甲醇(2726, -46.00, -1.66%)盘中直线跳水大跌近2%，
                    原油跌逾1%，PP、塑料(9225, -30.00, -0.32%)等飘绿；有色金属强势，沪镍(109880, 1930.00, 1.79%)、沪铝(14825,
                    150.00, 1.02%)、沪锌均涨逾1%；黑色系表现平淡，铁矿(455, -3.50, -0.76%)石、焦煤(1176, -6.00, -0.51%)走跌，
                    螺纹钢(3565, 17.00, 0.48%)、焦炭(1979, 3.00, 0.15%)微涨；农产品走势分化，棉纱跌逾1%，棉花(17930, 240.00,
                    1.36%)涨逾1%。截止下午收盘，沪镍涨1.79%，棉花涨1.36%，沪锌涨1.20%，沪铝涨1.02%，晚稻涨0.98%，热卷(3764,
                    34.00, 0.91%)涨0.91%；跌幅方面，棉纱跌1.78%，甲醇跌1.66%，菜籽跌1.42%，原油跌1.16%，鸡蛋(4073, -41.00,
                    -1.00%)跌1.00%，棕榈(5118, -44.00, -0.85%)跌0.85%。<br/>
                    消息面上，浙江兴兴新能源科技有限公司年产60万吨甲醇制烯烃
                    （MTO）装置计划于2018年5月25号停车检修，预计检修时间为30天，预计影响甲醇需求量15万吨左右。<br/>
                    现货方面：江苏太仓现货报盘3130元/吨；山东南部地区主流工厂2970-3000元/吨，沿海地区气氛影响，场内成交气氛一般；
                    内蒙古北线地区报价2780-2800元/吨，除部分供给烯烃外，部分出货一般；上周内地甲醇市场全面上扬，受港口方向买盘推动，
                    出货走好，传中下游补货叠加低库存状态价格大幅拉升，本周产销区略有分化，产区库存偏低价格依然小幅推涨，销区略有走弱。

                    <br/>港口方面，烯烃改港抛现货的行为导致现货价格走弱；中期的供需来看，随着国内外检修的结束以及需求端部分烯烃工厂的检修，
                    未来基本面大概率将转弱，市场的分歧在于库存偏低，期货远期贴水较大，以及转弱的速度，在这种情况下，大贴水以及库存低，期货的下跌一定需要现货端的配合；预计甲醇依然阶段性偏空。

                    郑棉预计将呈现慢牛格局<br/>

                    5月极端天气对今年棉花产量的影响，其实目前时间节点难以预估，需要等到六七月份才可以预估出准确数据。
                    短期更多得体现为受灾补种或后期维护所提高的种植成本，据期货日报15日发回的报道，今年的生产成本较去年增加，
                    主要体现在尿素、农药以及人工部分。种植成本的提高为棉价上涨提供了强有力的支撑。但在国储预期不足以支撑18/
                    19年抛储的最大底牌下，这接二连三多变的天气无疑给市场资金提供了炒作的窗口。<br/>

                    总体而言，目前是棉花种植期天气炒作事件窗口，德州主产棉区旱情依然严重，印度预计4-6月季风正常，
                    关注后期实际种植面积。近期期货带领现货大幅上涨，国储成交率、价明显回升，国储抢拍现象明显，政策调节市场，
                    增加新疆棉挂牌量，短期增加市场供应，但从长期看利多明显，间接拉高了未来5月走强的可能性。
                </p>
                <div>
                    <span class="badge">Posted 2018-04-02</span>
                    <span class="badge">文章来源：钢联资讯</span>

                </div>
            </div>
            <hr/>

            <div class="blog-post">
                <h3 class="blog-title">
                    <i class="fa fa-cloud"></i>
                    2018年5月申银万国期货研究所早间评论
                </h3>
                <img src="images/slider/news4.0.jpg" alt="Feature-img" align="right" width="100%" class="blog-image"/>
                <p>
                    原油：欧佩克主导的减产可能减缓以抵消委内瑞拉产量下降和伊朗可能出现的降低供应量，欧美原油期货下跌,
                    WTI跌幅为一个多月来最大。国际能源署数据显示，经合组织库存已经低于欧佩克减产目标，即五年平均水平。
                    美国能源信息署数据显示，美国原油库存低于五年同期平均水平。这意味着世界石油市场供应过剩已经消失。
                    随着委内瑞拉原油产量持续下降，伊朗有遭受美国制裁而降低供应量的可能，国际文传电讯社援引俄罗斯能源
                    部长诺瓦克的话说，如果欧佩克和非欧佩克国家6月份看到石油市场平衡，减产幅度可能会适度“缓和”。有关
                    欧佩克在6月份会议以后可能增加供应量的传言阻止了油价上涨，每桶80美元的油价是一个需要克服的障碍。如
                    果油价高于每桶80美元，欧佩克有所动作的可能性将进一步增加。在欧佩克会议之前，油价很难持续维持在这样的价位。<br/>

                    天胶：沪胶周四震荡止跌。周初强势反弹后出现回撤。但价格目前仍在前期底部平台上沿止跌，反弹尚未完全破坏。基本
                    面仍然缺乏显著变化。原油价格的高企带动合成胶价格上行，对天胶形成支撑，农产品属性近期也对胶价起到一定的支撑
                    作用。外因作用虽不改变供需格局但对短期市场情绪有推升。操作上，价格回落后做空空间依然有限。预计短期仍有延续
                    反弹的可能。建议继续等待反弹机会做空，上方仍关注13000附近压力。下方支撑关注11700-11800一带。<br/>

                    玻璃：玻璃期货周四反弹。北方地区房地产开工需求的增加，玻璃加工企业的订单情况环比有所好转。为了配
                    合26日在南京召开的华东、华北等地区市场研讨会，沙河安全等厂家计划28日报价上涨20元左右。虽然现货价格
                    下调告一段落，期货震荡，但后期走势仍缺乏支撑，操作上，建议少量试空。<br/>

                    【金属】<br/>

                    铜：夜盘铜价小幅走高，前日快速下跌后出现小幅反弹。中国大范围降低消费品进口关税，短期对铜价影响较小，
                    由近来媒体的报道看，中美贸易谈判似乎仍存变数。铜产业链总体处于供求平衡状态，对投资者来说缺少投资机会，
                    因而陷入近两个月的窄幅波动。昨日LME库存增加2125吨。短期铜价仍可能维持5.0-5.2万元区间波动。<br/>

                    贵金属：特朗普宣布取消和金正恩的会面，市场避险情绪升温，朝鲜方面态度较为温和，表示仍然愿意在任何
                    时候与美国对话。伦敦金当前涨至1303美元，黄金1812合约至273.5元。贸易战担忧暂时缓解，但是发展风险持续存在。
                    欧洲方面经济指标进一步滑落，受意大利政局不稳定等因素影响，推升美元。最新美联储纪要显示6月加息基本确定，
                    但同时提到“现在下结论说通胀将保持在2%左右的水平还为时过早，尤其是在通胀持续低于委员会2%目标的几年之后。
                    ”并且再度表明通胀略微超过2%都是可以容忍的，再结合当前基准利率明年将接近美联储的长期目标利率，且长短端利
                    差较为扁平，目前来看美元此轮反弹上方空间可能有限，年内总加息次数仍在3-4次之间。市场注意力转移到美国持续攀
                    升的负债和贸易赤字上，关注中东局势以及油价对于通胀的推动力量。但临近6月加息的情况下市场支撑力量较弱。在跌破
                    200天均线的情况下市场对于黄金的看法可能转弱，如果近期不能回到并稳定在1300美元之上，可能进一步削减多头热情，
                    黄金外盘下方1280美元支撑，黄金1812合约下看265元支撑，整体呈现弱势震荡格局。<br/>

                    【农产品】<br/>

                    鸡蛋：昨日，1809小幅震荡，收于4113点。现货市场，蛋价上周持续走低，但本周出现反弹，已经收复上周跌幅。
                    目前来看，蛋价已到5月上涨行情尾声，进入6月下跌行情，但低存栏还是蛋价坚挺的根本保证，且蛋价下跌加上
                    夏季高温，淘汰可能开始增加，预计跌幅不会太大，7月合约目前小幅升水承压。远月合约而言，补栏情况持续较好，
                    但当前在产蛋鸡存栏量仍然偏低，且延淘老鸡无法撑过这个夏天，关注09合约若出现大幅下跌后的做多机会，而09以
                    后的远月合约可能相对较弱。可关注多9空7的套利机会。<br/>

                    玉米：玉米昨天大幅上涨，远月合约表现较强。远月玉米由于去库存以及深加工需求始终向好的原因不断走强，
                    再叠加之前的调减玉米种植面积改种大豆的利好，导致远月玉米走强情绪不断提升。近期东北玉米开种，黑龙江
                    出现持续干旱天气，再加玉米本身的牛市预期，导致了C1901的大涨。根据天气预报，黑龙江中西部地区未来几天
                    内可能持续干旱，但吉林和黑龙江中东部地区在未来两到三天可能有降水过程。虽然不改总体上涨预期，但短期可能有下行压力。<br/>

                    【金融】<br/>

                    股指：本周市场持续调整，市场的压力在于，一是富士康和宁德时代募资规模较大；二是美元指数和美债收益率持续上行，
                    对国内资金面带来压力；三是近期部分上市公司特别是民营企业债务违约或引发连锁反应。由于A股分步纳入MSCI将于6月1日
                    正式生效，预计通过陆股通流入近500亿人民币，银行、非银和食品饮料板块占市值的比重超过50%，对主板继续形成支撑。
                    富士康申购引起的资金紧张或已基本反应，预计沪指在20日均线3150点附近有技术支撑，操作上，建议波段操作为主，沪指
                    核心区间3150—3250点。<br/>

                    国债：白宫宣布美朝会晤取消，避险情绪升温。国债期货主力合约价格高开低走，持仓量有所增加，10年期国债活跃券
                    180011收益率上行1.01bp报3.65%。央行公开市场完全对冲到期资金，资金面有所收敛，Shibor和回购利率涨跌不一；
                    美国白宫宣布，特朗普与金正恩会晤取消，加上美联储将允许通胀率暂时略高于2%的目标影响，美国10年期国债收益率
                    回落至3%以内；1-4月国有企业利润总额比上年有所提升，经济运行态势良好；且考虑到资管新规配套细则和其他监管政策
                    仍将逐步落地，6月份美联储大概率加息，市场情绪仍较为谨慎，总体上预计十年期国债收益率下行空间有限，国债期货以反弹为主。<br/>

                </p>
                <div>
                    <span class="badge">Posted 2018-04-02</span>
                    <span class="badge">文章来源：申银万国期货</span>

                </div>
            </div>
            <hr/>
        </div>

        <div class="col-md-6">
            <div class="blog-post">
                <h3 class="blog-title">
                    <i class="fa fa-file-text"></i>
                    外汇局：境外机构投资人民币债券可远期购汇
                </h3>
                <br/>
                <img src="images/slider/news2.0.jpg" alt="Feature-img" align="right" width="100%" class="blog-image"/>
                <br/>
                <p>
                    （原标题：《国家外汇管理局关于完善远期结售汇业务有关外汇管理问题的通知》（汇发〔2018〕3号）政策问答）<br/>

                    《国家外汇管理局关于完善远期结售汇业务有关外汇管理问题的通知》（汇发〔2018〕3号）政策问答1、远期结售汇差额
                    交割和全额交割有什么异同？<br/>

                    答：远期结售汇按到期结算方式可分为全额交割和差额交割。全额交割下，交易双方按照事前约定的汇率实际收付人民币
                    和外汇本金；差额交割下，交易双方按照事前约定的汇率与到期时即期汇率轧差结算损益，不实际收付人民币和外汇本金。
                    除结算方式差异外，远期结售汇差额交割与全额交割均可作为对冲外汇风险敞口的套期保值工具。<br/>

                    2、客户因跨境交易产生外汇风险敞口，但实际交易并不涉及外汇收支的，银行可否提供远期结售汇差额交割进行套期保值？<br/>

                    答：在实需交易原则下，客户使用远期结售汇进行套期保值的前提是存在真实、合规的基础交易并具有外汇风险敞口，若基础交易涉
                    及外汇收支，可选择远期全额交割；若不涉及外汇收支，可选择远期差额交割。例如，进口企业根据外币合同金额以人民币支付关税，
                    若折算汇率不确定，将存在外汇风险敞口，但因不实际支付外汇，可选择远期购汇差额交割进行套保；又如，企业进口签订以外币计
                    价、人民币结算的合同，若折算汇率不确定，同样存在外汇风险敞口，但也不实际支付外汇，可选择远期购汇差额交割进行套保。<br/>

                    3、银行是否可为客户金融交易项下的汇率风险办理套期保值？<br/>

                    答：实需交易原则强调外汇衍生品交易背景的真实性和合规性，并不限制交易背景的经常项目或资本项目性质。对于客户真实、合规的金
                    融交易产生的外汇风险敞口，银行可以提供远期结售汇等外汇衍生品交易进行套期保值。例如，境内企业借用外汇贷款、境外机构
                    投资境内人民币债券等金融交易，可通过远期购汇全额或差额交割对冲汇率风险。<br/>

                    4、境内机构因合并境外子公司财务报表而承担的汇率折算风险，是否可通过远期结售汇差额交割进行套期保值？<br/>

                    答：可以。境内机构依照现行会计管理规定编制财务报表时，因合并境外子公司财务报表而产生的汇率折算风险，可通过远期
                    结售汇差额交割进行套保。<br/>

                    5、银行对于远期结售汇业务的实需交易背景审核应如何把握？<br/>

                    答：按照实需交易原则，银行为客户办理远期结售汇业务应确认客户是对冲外汇风险敞口。与即期结售汇业务有所不同，
                    作为远期结售汇业务交易基础的真实需求背景可能存在预估性和不确定性，不能简单比照即期业务的做法，将是否有交易
                    单证作为实需交易原则审核的唯一或主要标尺。银行应按照“了解客户”、“了解业务”和“尽职审查”原则展业。与客户
                    达成合约前，银行应根据客户拟叙做远期结售汇业务的基础交易实际情况，有针对性地综合运用客户身份识别、客户适合度
                    评估、交易背景调查、业务单证审核、客户声明或确认函等方法确认所办业务是否符合实需原则。<br/>

                    银行应引导客户树立“风险中性”意识和健全汇率风险管理，综合运用衍生产品交易、调整收付款时间和计价结算币种等
                    方式管理汇率风险。<br/>

                    6、远期结售汇与人民币对外汇期权业务的实需交易审核是否存在差异？<br/>

                    答：远期结售汇和人民币对外汇期权业务，在实需交易审核方面应保持一致。<br/>
                </p>
                <div>
                    <span class="badge">Posted 2018-04-02</span>
                    <span class="badge">文章来源：外管局网站</span>

                </div>
            </div>
            <hr/>

            <div class="blog-post">
                <h3 class="blog-title">
                    <i class="fa fa-cloud"></i>
                    面对煤价暴涨暴跌，涨势依旧的火电会让你心动吗？
                </h3>
                <img src="images/slider/news6.0.png" alt="Feature-img" align="right" width="100%" class="blog-image"/>

                <br/>
                <p>
                    自5月23日跳水后，大盘近期表现十分疲软，这或许与发改委限煤价导致黑色系期货大跌，中兴事件未达成协
                    议引发中美贸易不确定性再起，以及外围股市环境同样疲软有着直接关系。<br/>

                    但就是这样一个严肃沉重的话题，却让市场感到一丝闹剧的成分在其中，因为市场传出发改委限制煤价消息时，
                    接连出现了多个内容差别极大的版本，以致于煤炭价格近期呈现暴涨暴跌的走势。<br/>

                    市场消息引发的煤炭闹剧<br/>

                    受复工滞后效应、环保限产结束等因素影响4月用电需求快速增长，5月钢铁、水泥等工业需求仍较旺盛，加之5月
                    中旬阶段性高温天气影响，6大电厂煤炭日耗快速上行、库存高位回落，截至5月21日，
                    6大电厂煤炭日耗、库存分别为78.3万吨/日、1277万吨。截至5月17日，动力煤价格（秦皇岛港山西产5500大卡动
                    力煤平仓价）回升至677元/吨。<br/>
                    煤炭价格的快速反弹引发了有关部门的担忧，为此发改委连续下达指令加强煤价监管。智通财经APP了解到，
                    5月22日，发改委与国家市场监管总局办公厅联合公布煤炭市场违法违规行为举报方式，禁止煤炭企业相互串通，
                    操纵市场价格，捏造、散布涨价信息哄抬价格，禁止恶意囤积煤炭、囤而不售的。<br/>

                    再联系上此前市场传出5月21日煤电工作会议内容，市场恐慌情绪瞬间高涨。当日会议中提及要采取增产量、增
                    产能、增运力、增长协等9项措施，力争在6月10号前将5500大卡北方港平仓价引导到570元/吨以内。<br/>

                    在市场感受到了发改委对煤价管控的强硬态度，以及政策力度的超预期后，5月23日，黑色系期货品种全线下跌，
                    其中主力合约焦煤JM1809下跌4.62%， 焦炭J1809下跌4.34%， 动力煤期货主力合约更是跌停。<br/>

                    5月24日，市场再度传出消息称，经多方核实，发改委没有在5月21号会议上说过要把煤炭现货价格控制在570元
                    以下，长协价过去两年的口径一直是在500-570元的绿色区间内没有任何变化，需要调控的是月度长协价的动力煤，
                    发改委对现货价格的调控区间大概维持600-700元/吨。<br/>

                    这个重磅炸弹又一次引发市场激烈反应，动力煤随即拉涨10余点，由跌逾1%迅速翻红，当日期货夜盘焦炭、焦煤、
                    动力煤分别收涨2.30%、1.57%、0.78%，一改之前颓势，整个事件宛如一场闹剧。<br/>

                    但令人奇怪的是，即使在辟谣之后，市场对煤炭似乎仍是心有余悸的，相反火电企业却是鸡血依旧。<br/>

                    截然相反的股价表现<br/>

                    面对此前超预期限价力度的辟谣，煤炭企业与火电企业股价几乎是相反的。智通财经APP了解到，中国神华
                    （01088）、兖州煤业股份（01171）在接连两日大跌后仅小幅反弹一日，之后走势依旧低迷；相反的是华能国际
                    （00902）、华电国际（01071）等火电企业，其股价走势依旧中气十足。<br/>

                    如果说，市场对煤炭价格限价力度仍有一定忌惮，导致煤炭企业股价受压制是可以理解的，但限价力度多少有一些
                    降低，为何火电企业股价仍旧这么坚挺呢？只能说这个节点，火电企业盈利改善预期还是非常足的。<br/>

                    火电企业的业绩基本由电量和度电利润决定，其中上网电量由装机容量和利用小时确定，而利用小时由供需关系确定；
                    而火电企业的度电利润等于上网电价减去度电成本，成本中50%-70%为燃料成本。<br/>

                    以华电国际和华能国际为例，根据公司2017年年报数据可知，公司2017年发电业务成本为705.2亿元、13
                    29.5亿元，燃料费用为396.4亿元、927.4亿元，占比56%、70%。目前电力企业的上网电量主要分为计划电量
                    和市场交易电量，故上网电价由标杆电价和市场电价加权平均得到。<br/>


                    从电量需求来看，未来是比较可观的。智通财经APP了解到，4月份全社会用电量5217亿千瓦时，同比增长7.8%；
                    1-4月，全社会用电量累计21094亿千瓦时，同比增长9.3%。<br/>

                    3月复工滞后效应及环保限产结束等因素在4月集中体现，而工业需求旺盛带动1-4月用电量快速增长，其中
                    火电累计利用小时连续15个月回升。<br/>

                    对于度电利润而言，当前煤炭仍然对火电成本端造成较大压力，但考虑长协合同占比、兑现度逐步提升
                    ，火电公司燃料成本控制正在改善，据了解一季度华能、华电等主要火电公司燃料成本涨幅较市场煤涨幅明显收窄，
                    再叠加2017年7月起燃煤机组平均上网电价上调，火电企业目前盈利能力正在回升。<br/>

                    而最重要的一点则是，现在的火电企业业绩弹性很大。据业内人士推算，对于2017年由于煤价上涨，四季度
                    火电行业出现大面积亏损，导致全年净利润同比大幅下滑的火电企业而言，假设2017年市场煤价（秦皇岛动力
                    末煤Q5500平仓价）均价下降10元/吨，华能国际利润弹性为+29%，华电国际为+37%，业绩弹性非常高。<br/>

                    因此在短期煤炭价格有政策压制的预期下，火电企业业绩会有很可观的改善预期，股价的强势上涨也就可以理解了。<br/>

                    但即使有行政力量压制，依旧还要注意长期风险，因为煤价在市场力量的影响下依旧有上涨动力。<br/>





                </p>
                <div>
                    <span class="badge">Posted 2018-04-08</span>
                    <span class="badge">文章来源：港股挖掘机</span>
                </div>
            </div>
            <hr/>

            <div class="blog-post">
                <h3 class="blog-title">
                    <i class="fa fa-file"></i>
                    对冲基金的“做空盛宴”即将开幕
                </h3>
                <img src="images/slider/news5.0.jpeg" alt="Feature-img" align="right" width="100%" class="blog-image"/>
                <p>
                    还记得去年的6月7日吗？<br/>

                    狙击辉山乳业一战成名的做空机构浑水，在香港Sohn投资论坛现场发布了做空敏华控股(01999.HK)的PPT。<br/>
                    随之另一家做空机构F.G. Alpha Management也在论坛上宣布要做空达利食品(03799.HK)，当天敏华控股的股价从涨8%直线下跌
                    ，最大跌幅达15%，公司在浑水宣布做空半小时后选择了停牌。<br/>

                    尽管这是一个以慈善机构举办募集善款的平台，但是所有来参会的人都会分享他们的投资理念，公布自己的做空目标，
                    最后成为对冲基金们“做空盛宴”。<br/>

                    而这个一年一度的投资界超级碗大会，将在5天后登陆香港。<br/>


                    今年的大会还没开始，做空机构已经开始耐不住了。<br/>

                    5月24日早间，沽空基金Blue Orca发布做空报告，称港股上市公司新秀丽（1910.HK）的每股价值为17.59港元。
                    当天上午10时30分之后，新秀丽股价开始下跌，不到一个小时股价跌至谷底，最低报29.9港元/股。随即在上午11时18分起，
                    新秀丽紧急停牌。 如果以遭到沽空的每股17.59港元计算，要较24日收盘价格下跌48.34%，对应总市值减少234.7亿港元。<br/>

                    今天新秀丽的股价仍然没有止跌，截至收盘跌幅高达12.70%，报26.80港币，较高位下挫23.43%。<br/>


                    Sohn投资大会是个什么来头？<br/>

                    Sohn论坛全称为Sohn Conference Foundation（Sohn会议基金会），用以纪念29岁死于癌症的分析师Ira Sohn。
                    Sohn 投资论坛成立于1995 年，通过具有影响力的投资会议和特别活动筹集资金，聚集对冲基金行业的人在论坛上
                    提供投资建议，为慈善筹款，从而帮助患有儿科癌症和其他儿童疾病的病人完成治疗并实现痊愈。公开资料显示，
                    目前，Sohn会议基金会从纽约扩展至全球十多个城市。迄今为止，该基金会已募集超过 7500 万美元。 其中，
                    香港Sohn论坛在四年前成立。<br/>

                    2013年6月，为了纪念因宫颈癌去世的35岁的对冲基金经理梁恺昍（Karen Leung）， 梁恺昍妇癌基金会
                    （Karen Leung Foundation）在香港成立，随即该基金与Sohn会议基金会合作，每年承办其在香港的活动。<br/>


                    今年的香港大会新开设了“下一波浪潮”（“Next Wave”）分论坛，为新生代基金经理们提供了一个展示投资理念的平台。
                    两位东英资管的合作基金经理—Darkhorse Capital基金首席投资官Mohammed Ali-Reda以及海燕资本创始人兼基金经理黄
                    志鸿将作为演讲嘉宾在该论坛上进行分享。<br/>

                    东英资管行政总裁范文启表示：“很高兴今年再次与梁恺昍妇癌基金会合作。此次论坛是一个非常难得的机会，为投资者
                    与对冲基金行业中最聪明的人士提供交流独特想法的平台，与此同时这也将有助于基金的资金募集并引起更多的市场关注。”<br/>

                </p>
                <div>
                    <span class="badge">Posted 2018-04-08</span>
                    <span class="badge">文章来源：全球对冲网</span>

                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>

<div class="copyright text center">
    <p>Copyright &copy; 2018.交易服务 All rights reserved.</p>
    <p>作者：140104300123 陈璐</p>
</div>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">
    //时间处理
    $(function () {
        var dealtime = $(".dealtime").attr("data-dealtime");
        $(".dealtime").html(timeExchange(dealtime));
    })

    new WOW().init();
</script>
</body>
</html>
