<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <title>金融远期合约交易服务平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/animate.min.css"/>
    <link rel="shortcut icon" href="assets/ico/favicon.ico"/>
</head>
<body>

<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- 网站名 -->
        <a class="navbar-brand" href="#">金融远期合约交易服务平台</a>

        <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="index.html">首页</a>
                </li>

                <li class="active">
                    <a href="news.html">新闻资讯</a>
                </li>
                <li>
                    <a href="demand.html">需求社区</a>
                </li>
                <li>
                    <a href="topic.html">话题中心</a>
                </li>
                <li>
                    <a href="contact.html">合约展示</a>
                </li>
                <li th:if="${user == null}">
                    <a href="login.html"><span>登录</span></a>
                </li>
                <li th:if="!${user == null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">欢迎！<span th:text="${user.name}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mycontact">我的合约</a></li>
                        <li><a href="/mypage">个人主页</a></li>
                        <li><a href="/logout">安全退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row container-kamn">
    <img src="images/slider/slide1.jpg" class="blog-post" alt="Feature-img" align="right" width="100%"/>
</div>

<div id="banners"></div>
<div class="container">
    <div class="row">
        <div class="side-left col-sm-3 col-md-3">
            <h3 class="lead">什么是远期合约？</h3>
            <hr/>
            <p>
                远期合约是交易双方约定在未来的某一确定时间，以确定的价格买卖一定数量的某种金融资产的合约。合约规定交易
                的标的物、有效期和交割时的执行价格等项内容，是一种保值工具。是必须履行的协议。远期合约主要有远期利率协议、
                远期外汇合约、远期股票合约。远期合约是现金交易，买方和卖方达成协议在未来的某一特定FI期交割一定质量和数量的
                商品。价格可以预先确定或在交割时确定。远期合约是场外交易，交易双方都存在风险。如果即期价格低于远期价格，
                市场状况被描述为正向市场或溢价。如果即期价格高于远期价格，市场状况被描述为反向市场或差价。</p>

            <br/>
            <h4>远期合约的意义和价值？</h4>
            <hr/>
            Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque
            faucibus. Nunc eu ullamcor per orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In
            pellentesque faucibus.
        </div>
        <div class="col-sm-9 col-md-9">
            <div>
                <h3 class="lead" id="anchor1">财经新闻速递</h3>
                <p>
                    <small>带您一起纵览财经新闻实时。</small>
                </p>
                <hr/>

                <div style="font-size: 1em; padding-bottom: 14px;" th:each="item, newStat : ${news}">
                    <h4><strong><span th:text="${item.title}"></span></strong></h4>
                    <div style="padding: 16px;">
                        <em>来源：<span th:text="${item.author_name}"></span></em>
                        <em style="float: right;">时间：<span th:text="${item.date}"></span></em><br/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-4">
                            <a th:href="@{${item.url}}" class="thumbnail">
                                <img th:attr="src=@{${item.thumbnail_pic_s}}" alt="..." />
                            </a>
                        </div>
                    </div>
                    <p><a th:href="@{${item.url}}"><span th:text="${item.url}"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copyright text center">
    <p>Copyright &copy; 2018.交易服务 All rights reserved.</p>
    <p>作者：140104300123 陈璐</p>
</div>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

</body>

</html>