<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>金融远期合约交易服务平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/demand.css"/>
    <link href="css/mobiscroll.custom.min.css" rel="stylesheet" type="text/css"/>
    <script>
        function displayResult() {
            var x = document.getElementById("red").name;
            alert(x);
        }
    </script>
</head>
<body>


<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- 网站名 -->
        <a class="navbar-brand" href="#">金融远期合约交易服务平台</a>

        <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="index.html">首页</a>
                </li>

                <li>
                    <a href="news.html">新闻资讯</a>
                </li>
                <li>
                    <a href="demand.html">需求社区</a>
                </li>
                <li>
                    <a href="topic.html">话题中心</a>
                </li>
                <li>
                    <a href="statistic.html">交易数据</a>
                </li>
                <li th:if="${user == null}">
                    <a href="login.html"><span>登录</span></a>
                </li>
                <li th:if="!${user == null}" class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">欢迎！<span th:text="${user.name}"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/mycontact">我的合约</a></li>
                        <li><a href="/mypage">个人主页</a></li>
                        <li><a href="/logout">安全退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="container row">
    <div style="height:20px;" class="col-md-3"></div>

    <div class="aui-content-up col-md-7">
        <form th:action="@{/topicdiscuss}" th:object="${comment}" th:method="post">
            <div class="aui-content-up-form">
                <h2 style="padding-bottom: 15px; padding-left: 230px;" class="jyfw-title">话题讨论</h2>
            </div>
            <div class="topic-discuss-title" >
                <div class="row" >
                    <div class="col-md-8" style="padding-left: 30px; padding-top: 15px;">
                        <p class="demand-item-title">话题名称</p>
                    </div>
                    <div class="col-md-2" style="padding-top: 10px;">
                        <p class="demand-item-detail">用户名</p>
                    </div>
                    <div class="col-md-2" style="padding-top: 10px;">
                        <p class="demand-item-detail">发布时间</p>
                    </div>
                </div>
                <p style="padding-left: 15px;">话题描述......</p>
                <hr/>
                <div class="row">
                    <div class="col-md-8">
                        <p style="padding-left: 15px;">评论内容1</p>
                    </div>
                    <div class="col-md-2 demand-item-detail">用户名</div>
                    <div class="col-md-2 demand-item-detail">发布时间</div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-8">
                        <p style="padding-left: 15px;">评论内容2</p>
                    </div>
                    <div class="col-md-2 demand-item-detail">用户名</div>
                    <div class="col-md-2 demand-item-detail">发布时间</div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-8">
                        <p style="padding-left: 15px;">......</p>
                    </div>
                    <div class="col-md-2 demand-item-detail"></div>
                    <div class="col-md-2 demand-item-detail"></div>
                </div>

            </div>
            <div class="aui-form-group clear">
                <label class="aui-label-control">
                    写评论<em>*</em>
                </label>
                <div class="aui-form-input" style="padding-bottom: 15px;">
                    <textarea th:field="*{desc}" class="form-control" minlength="5">请用简短的文字描述您的合约产品</textarea>
                </div>
            </div>
            <div class="aui-form-group-text">
                <span th:text="${errorInfo}"></span>
                <h3>温馨提示</h3>
                <p>为了使您能够体验更好的本平台服务，禁止发布虚假内容。</p>
            </div>
            <div class="aui-btn-default" style="padding-left: 230px;">
                <button class="aui-btn aui-btn-account">发布</button>
            </div>
        </form>

    </div>
    <div class="col-md-2"></div>
</section>

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/up.js"></script>
<script type="text/javascript" src="js/mobiscroll.custom.min.js"></script>
<script>
    var theme = "ios";
    var mode = "scroller";
    var display = "bottom";
    var lang = "zh";
    $('#timePicker').mobiscroll().date({
        theme: theme,
        mode: mode,
        display: display,
        lang: lang
    });
</script>

<div id="banners"></div>


<div class="copyright text center">
    <p>Copyright &copy; 2018.交易服务 All rights reserved.</p>
    <p>作者：140104300123 陈璐</p>
</div>


<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
</body>
</html>
