<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyfw.jyfwser.mapper.CommentMapper">

    <insert id="insertComment" parameterType="com.jyfw.jyfwser.pojo.entity.CommentEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `comment` (
        `commentType`,`ObjectId`,`content`,`uid`,`status`
        )VALUES (
        #{commentType}, #{ObjectId}, #{content}, #{uid}, #{status}
        )
    </insert>

    <select id="listCommentByObjectId" parameterType="integer" resultType="com.jyfw.jyfwser.pojo.entity.CommentEntity">
        SELECT c.*, u.name
        FROM `comment` c LEFT JOIN `user` u ON c.uid = u.uid
        WHERE c.ObjectId = #{objectId}
    </select>

    <select id="listAllComment" parameterType="integer" resultType="com.jyfw.jyfwser.pojo.entity.CommentEntity">
        SELECT * FROM `comment`
        GROUP BY createTime
        ORDER BY createTime DESC
    </select>

    <update id="updateCommentStatusByCid" parameterType="map">
        UPDATE `comment`
        SET `status` = #{status}
        WHERE `id` = #{cid}
    </update>

</mapper>