<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyfw.jyfwser.mapper.DemandMapper">


    <insert id="addDemand" parameterType="com.jyfw.jyfwser.pojo.entity.DemandEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `demand` (
	      `uid`,`dealTime`,`dealObject`,`dealNum`,`dealPrice`,`status`,`desc`, `category`
        ) VALUES	(
          #{uid},#{dealTime},#{dealObject},#{dealNum},#{dealPrice},#{status},#{desc}, #{category}
        );
    </insert>

    <select id="listDemandByStatus" parameterType="map" resultType="com.jyfw.jyfwser.pojo.entity.DemandEntity">
        SELECT * FROM `demand` WHERE `status` = #{status}
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <if test="dealObject != null and dealObject != ''">
            and dealObject like CONCAT('%',#{dealObject},'%')
        </if>
        GROUP BY createTime ORDER BY createTime DESC
    </select>

    <select id="getDemandByDemandId" parameterType="integer" resultType="com.jyfw.jyfwser.pojo.entity.ConfirmDemandEntity">
        SELECT u.uid, u.`name`,d.category, d.dealObject, d.dealNum, d.dealPrice, d.dealTime, d.desc
        FROM demand d LEFT JOIN `user` u ON d.uid = u.uid
        WHERE d.id = #{demandId};
    </select>

    <update id="updateDemandStatusByDid" parameterType="map">
        UPDATE `demand`
        SET `status` = #{status}
        WHERE `id` = #{demandId}
    </update>

    <select id="listDemand" resultType="com.jyfw.jyfwser.pojo.entity.DemandEntity">
        SELECT * FROM `demand`
        GROUP BY createTime
        ORDER BY createTime DESC
    </select>

    <select id="listDemandByUid" parameterType="integer" resultType="com.jyfw.jyfwser.pojo.entity.DemandEntity">
        SELECT * FROM `demand`
        WHERE `uid` = #{uid} AND `status` = 1
    </select>


</mapper>